<!DOCTYPE html>
<html lang="ja">

<head>
    <title>Masa Blog</title>
    <%- include("./head"); %>
</head>

<body>
    <%- include("./header"); %>
        <section class="about" id="about">
            <h2 class="heading">About</h2>
            <p class="about-text">私は北海道出身HTML,CSSのコーダーをやっています。</p>
            <p class="about-text">このブログはNode.jsというフレームワークを使っていてサーバーから制作しました。</p>
            <p class="about-text">C言語やPythonを趣味で勉強していたりします。</p>
            <p class="about-text">LP制作からjQuery実装したページを得意です。</p>
        </section>
    <%- include("./footer"); %>
</body>

</html>