<header class="header" role="banner">
    <div class="header-display" id="gradient">
        <h1 class="tittle">MASA BLOG</h1>
        <p>日々学習したNode.jsやVue.js,HTML/CSSの情報をまとめたBlogを書いています</p>
    </div>
    <div class="nav-wrapper">
        <input id="nav-input" class="hidden" type="checkbox">
        <label id="nav-btn" for="nav-input"><span></span></label>
        <label id="nav-back" for="nav-input"></label>
        <nav class="nav" id="nav" role="navigation">
            <li class="nav-item"><a href="/">Blog</a></li>
            <li class="nav-item"><a href="/about">About</a></li>
            <li class="nav-item"><a href="/works">Works</a></li>
            <li class="nav-item"><a href="/skill">Skill</a></li>
            <li class="nav-item"><a href="/contact">Contact</a></li>
        </nav>
    </div>
</header>