<!DOCTYPE html>
<html lang="ja">

<head>
    <title>Masa Blog</title>
    <%- include("./head"); %>
</head>

<body>
    <%- include("./header"); %>
        <h1>Skill</h1>
        <%- include("./footer"); %>
</body>

</html>