<!DOCTYPE html>
<html lang="ja">

<head>
    <title>Masa Blog</title>
    <%- include("./head"); %>
</head>

<body>
    <%- include("./header"); %>
        section class="skill" id="skill">
        <h2 class="heading">Skill</h2>
        <div class="skill-container">
            <div class="skill-item">
                <h3>HTML,CSS</h3>
                <p>シングルページ、LP、レスポンシブ化、などその他簡単なCSSアニメーション</p>
            </div>
            <div class="skill-item">
                <h3>Javasclipt</h3>
                <p>jQueryの簡単な機能の追加、修正プレーンのJavascriptの修正などその他Node.js,Vue.jsの勉強をしています。</p>
            </div>
            <div class="skill-item">
                <h3>C言語,C++</h3>
                <p>勉強中ですが基本的なコードの記述からDxLib,Win32apiの簡単な記述</p>
            </div>
            <div class="skill-item">
                <h3>Python</h3>
                <p>勉強中ですが基本的なコードの記述</p>
            </div>
        </div>
        </section>
        <%- include("./footer"); %>
</body>

</html>