<!DOCTYPE html>
<html lang="ja">

<head>
    <title>Masa Blog</title>
    <%- include("./head"); %>
</head>

<body>
    <%- include("./header"); %>
        <section class="works" id="works">
            <h2 class="heading">Works</h2>
            <div class="works-wrapper">
                <div class="works-item">
                    <p>初めて請け負った仕事です。jQueryでスライドを実装しレスポンシブ化しました。</p>
                    <img src="./img/screencapture-file-C-Users-death-Desktop-web2022-2-15-www-www-index-html-2022-02-23-02_47_03.png"
                        alt="">
                </div>
                <div class="works-item">
                    <p><a href="http://kon11223344.fun/">個人のホームページです。</a><a href="http://kon11223344.fun/">kon11223344.fun</a>
                    </p>
                </div>
            </div>
        </section>
        <%- include("./footer"); %>
</body>

</html>